.container {
    margin : 5em 0;
}

.card {
    margin : 0 2% !important;
}

.infected {
    border-radius: 10px solid;
    box-shadow: 0 0 10px rgba(0,0,255,0.5);
}

.infected {
    border-radius: 10px solid;
    box-shadow: 0 0 10px rgba(2, 255, 149, 0.5);
}

.deaths {
    border-radius: 10px solid;
    box-shadow: 0 0 10px rgba(0,0,255,0.5);
}