.container {
    margin : 5em 0;
}

.card {
    margin : 0 2% !important;
}

.confirmed {
    border-radius: 10px solid;
    box-shadow: 0 0 10px rgba(133, 1, 150, 0.9);
    animation : 0.5s ease-in-out;
}

.recovered {
    border-radius: 10px solid;
    box-shadow: 0 0 10px rgba(0, 129, 75, 0.9);
}

.deaths {
    border-radius: 10px solid;
    box-shadow: 0 0 10px rgba(122, 0, 0, 0.9);
}
